<!DOCTYPE html>
<html>
<head>
    <title>Fluffle - Edição de Registros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dbsetup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/update.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fluffle - Update DB</title>
</head>
<body>

<div class="center-container">
    <div class="image-container">
        <img src="{{ url_for('static', filename='icons/fluffle-logo-removebg-preview.png') }}">
        <img src="{{ url_for('static', filename='icons/bunnie-bottom-page.gif') }}" width="200" height="200">
    </div>
</div>



</body>
</html>
